-- MySQL dump 10.13  Distrib 8.0.45, for Win64 (x86_64)
--
-- Host: localhost    Database: vmsdb
-- ------------------------------------------------------
-- Server version	8.0.45

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `accounts_auditlog`
--

DROP TABLE IF EXISTS `accounts_auditlog`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `accounts_auditlog` (
  `audit_id` int NOT NULL AUTO_INCREMENT,
  `action_performed` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `entity_affected` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `timestamp` datetime(6) NOT NULL,
  `user_id` int DEFAULT NULL,
  PRIMARY KEY (`audit_id`),
  KEY `accounts_auditlog_user_id_1dfbca79_fk_accounts_user_user_id` (`user_id`),
  CONSTRAINT `accounts_auditlog_user_id_1dfbca79_fk_accounts_user_user_id` FOREIGN KEY (`user_id`) REFERENCES `accounts_user` (`user_id`)
) ENGINE=InnoDB AUTO_INCREMENT=26 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `accounts_auditlog`
--

LOCK TABLES `accounts_auditlog` WRITE;
/*!40000 ALTER TABLE `accounts_auditlog` DISABLE KEYS */;
/*!40000 ALTER TABLE `accounts_auditlog` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `accounts_role`
--

DROP TABLE IF EXISTS `accounts_role`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `accounts_role` (
  `role_id` int NOT NULL AUTO_INCREMENT,
  `role_name` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`role_id`),
  UNIQUE KEY `role_name` (`role_name`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `accounts_role`
--

LOCK TABLES `accounts_role` WRITE;
/*!40000 ALTER TABLE `accounts_role` DISABLE KEYS */;
INSERT INTO `accounts_role` VALUES (1,'Administrator'),(4,'Funder-Relations Manager'),(3,'Operations Manager'),(2,'Programme Coordinator'),(6,'Volunteer'),(5,'Volunteer Coordinator');
/*!40000 ALTER TABLE `accounts_role` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `accounts_user`
--

DROP TABLE IF EXISTS `accounts_user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `accounts_user` (
  `password` varchar(128) COLLATE utf8mb4_unicode_ci NOT NULL,
  `last_login` datetime(6) DEFAULT NULL,
  `is_superuser` tinyint(1) NOT NULL,
  `user_id` int NOT NULL AUTO_INCREMENT,
  `email` varchar(254) COLLATE utf8mb4_unicode_ci NOT NULL,
  `user_status` varchar(10) COLLATE utf8mb4_unicode_ci NOT NULL,
  `person_id` int NOT NULL,
  `role_id` int NOT NULL,
  PRIMARY KEY (`user_id`),
  UNIQUE KEY `email` (`email`),
  UNIQUE KEY `person_id` (`person_id`),
  KEY `accounts_user_role_id_a6dd19b0_fk_accounts_role_role_id` (`role_id`),
  CONSTRAINT `accounts_user_person_id_6f9b1782_fk_volunteers_person_person_id` FOREIGN KEY (`person_id`) REFERENCES `volunteers_person` (`person_id`),
  CONSTRAINT `accounts_user_role_id_a6dd19b0_fk_accounts_role_role_id` FOREIGN KEY (`role_id`) REFERENCES `accounts_role` (`role_id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `accounts_user`
--

LOCK TABLES `accounts_user` WRITE;
/*!40000 ALTER TABLE `accounts_user` DISABLE KEYS */;
INSERT INTO `accounts_user` VALUES ('pbkdf2_sha256$1200000$tk7jAu2hZZlUez0ds89hml$ifgiYxTxKsR+9HNhQ+BqlwfbHVm1iPjICYIr7yrkTsc=','2026-07-06 13:40:10.570660',1,1,'admin@urbanconnect.org','ACTIVE',1,1),('pbkdf2_sha256$1200000$h74CaKC55jaMhdhLwqAVpI$jh7uFw7t/Kw4eaHQLKalX2BnqDi2GvERbAtC421WBKA=',NULL,0,2,'test@gmail.com','ACTIVE',2,6);
/*!40000 ALTER TABLE `accounts_user` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `accounts_user_groups`
--

DROP TABLE IF EXISTS `accounts_user_groups`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `accounts_user_groups` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `group_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `accounts_user_groups_user_id_group_id_59c0b32f_uniq` (`user_id`,`group_id`),
  KEY `accounts_user_groups_group_id_bd11a704_fk_auth_group_id` (`group_id`),
  CONSTRAINT `accounts_user_groups_group_id_bd11a704_fk_auth_group_id` FOREIGN KEY (`group_id`) REFERENCES `auth_group` (`id`),
  CONSTRAINT `accounts_user_groups_user_id_52b62117_fk_accounts_user_user_id` FOREIGN KEY (`user_id`) REFERENCES `accounts_user` (`user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `accounts_user_groups`
--

LOCK TABLES `accounts_user_groups` WRITE;
/*!40000 ALTER TABLE `accounts_user_groups` DISABLE KEYS */;
/*!40000 ALTER TABLE `accounts_user_groups` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `accounts_user_user_permissions`
--

DROP TABLE IF EXISTS `accounts_user_user_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `accounts_user_user_permissions` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `permission_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `accounts_user_user_permi_user_id_permission_id_2ab516c2_uniq` (`user_id`,`permission_id`),
  KEY `accounts_user_user_p_permission_id_113bb443_fk_auth_perm` (`permission_id`),
  CONSTRAINT `accounts_user_user_p_permission_id_113bb443_fk_auth_perm` FOREIGN KEY (`permission_id`) REFERENCES `auth_permission` (`id`),
  CONSTRAINT `accounts_user_user_p_user_id_e4f0a161_fk_accounts_` FOREIGN KEY (`user_id`) REFERENCES `accounts_user` (`user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `accounts_user_user_permissions`
--

LOCK TABLES `accounts_user_user_permissions` WRITE;
/*!40000 ALTER TABLE `accounts_user_user_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `accounts_user_user_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_group`
--

DROP TABLE IF EXISTS `auth_group`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_group` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_group`
--

LOCK TABLES `auth_group` WRITE;
/*!40000 ALTER TABLE `auth_group` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_group` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_group_permissions`
--

DROP TABLE IF EXISTS `auth_group_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_group_permissions` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `group_id` int NOT NULL,
  `permission_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_group_permissions_group_id_permission_id_0cd325b0_uniq` (`group_id`,`permission_id`),
  KEY `auth_group_permissio_permission_id_84c5c92e_fk_auth_perm` (`permission_id`),
  CONSTRAINT `auth_group_permissio_permission_id_84c5c92e_fk_auth_perm` FOREIGN KEY (`permission_id`) REFERENCES `auth_permission` (`id`),
  CONSTRAINT `auth_group_permissions_group_id_b120cbf9_fk_auth_group_id` FOREIGN KEY (`group_id`) REFERENCES `auth_group` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_group_permissions`
--

LOCK TABLES `auth_group_permissions` WRITE;
/*!40000 ALTER TABLE `auth_group_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_group_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_permission`
--

DROP TABLE IF EXISTS `auth_permission`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_permission` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `content_type_id` int NOT NULL,
  `codename` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_permission_content_type_id_codename_01ab375a_uniq` (`content_type_id`,`codename`),
  CONSTRAINT `auth_permission_content_type_id_2f476e4b_fk_django_co` FOREIGN KEY (`content_type_id`) REFERENCES `django_content_type` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=77 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_permission`
--

LOCK TABLES `auth_permission` WRITE;
/*!40000 ALTER TABLE `auth_permission` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_permission` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_admin_log`
--

DROP TABLE IF EXISTS `django_admin_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_admin_log` (
  `id` int NOT NULL AUTO_INCREMENT,
  `action_time` datetime(6) NOT NULL,
  `object_id` longtext COLLATE utf8mb4_unicode_ci,
  `object_repr` varchar(200) COLLATE utf8mb4_unicode_ci NOT NULL,
  `action_flag` smallint unsigned NOT NULL,
  `change_message` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `content_type_id` int DEFAULT NULL,
  `user_id` int NOT NULL,
  PRIMARY KEY (`id`),
  KEY `django_admin_log_content_type_id_c4bce8eb_fk_django_co` (`content_type_id`),
  KEY `django_admin_log_user_id_c564eba6_fk_accounts_user_user_id` (`user_id`),
  CONSTRAINT `django_admin_log_content_type_id_c4bce8eb_fk_django_co` FOREIGN KEY (`content_type_id`) REFERENCES `django_content_type` (`id`),
  CONSTRAINT `django_admin_log_user_id_c564eba6_fk_accounts_user_user_id` FOREIGN KEY (`user_id`) REFERENCES `accounts_user` (`user_id`),
  CONSTRAINT `django_admin_log_chk_1` CHECK ((`action_flag` >= 0))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_admin_log`
--

LOCK TABLES `django_admin_log` WRITE;
/*!40000 ALTER TABLE `django_admin_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_admin_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_content_type`
--

DROP TABLE IF EXISTS `django_content_type`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_content_type` (
  `id` int NOT NULL AUTO_INCREMENT,
  `app_label` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `model` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `django_content_type_app_label_model_76bd3d3b_uniq` (`app_label`,`model`)
) ENGINE=InnoDB AUTO_INCREMENT=20 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_content_type`
--

LOCK TABLES `django_content_type` WRITE;
/*!40000 ALTER TABLE `django_content_type` DISABLE KEYS */;
INSERT INTO `django_content_type` VALUES (11,'accounts','auditlog'),(12,'accounts','role'),(13,'accounts','user'),(1,'admin','logentry'),(2,'auth','group'),(3,'auth','permission'),(4,'contenttypes','contenttype'),(19,'impact','report'),(14,'programmes','event'),(15,'programmes','eventskill'),(16,'programmes','programme'),(17,'programmes','status'),(18,'programmes','volunteerassignment'),(5,'sessions','session'),(6,'volunteers','availability'),(7,'volunteers','dbsstatus'),(8,'volunteers','person'),(9,'volunteers','skill'),(10,'volunteers','volunteerskill');
/*!40000 ALTER TABLE `django_content_type` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_migrations`
--

DROP TABLE IF EXISTS `django_migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_migrations` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `app` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `applied` datetime(6) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=24 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_migrations`
--

LOCK TABLES `django_migrations` WRITE;
/*!40000 ALTER TABLE `django_migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_session`
--

DROP TABLE IF EXISTS `django_session`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_session` (
  `session_key` varchar(40) COLLATE utf8mb4_unicode_ci NOT NULL,
  `session_data` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `expire_date` datetime(6) NOT NULL,
  PRIMARY KEY (`session_key`),
  KEY `django_session_expire_date_a5c62663` (`expire_date`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_session`
--

LOCK TABLES `django_session` WRITE;
/*!40000 ALTER TABLE `django_session` DISABLE KEYS */;
INSERT INTO `django_session` VALUES ('xestf5jjv3yyoeus5ttol9o9qp09ldig','.eJxVjEEOgjAQRe_StWk6tgPUpXvO0MwwU4saSCisjHdXEha6_e-9_zKJtrWkreqSRjEXA-b0uzEND512IHeabrMd5mldRra7Yg9abT-LPq-H-3dQqJZvzdghniOEHD0IoDQSorbkpaOOECK3TjO5iDlzQ-wDa3ROhVpU8GDeH9mnOAQ:1wgjYR:IDyM9jKWTwMJN4xRkgm68k-dsUBaKwolZOCOn1_ct14','2026-07-20 13:40:11.329999');
/*!40000 ALTER TABLE `django_session` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `impact_report`
--

DROP TABLE IF EXISTS `impact_report`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `impact_report` (
  `report_id` int NOT NULL AUTO_INCREMENT,
  `report_date` date NOT NULL,
  `report_name` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  `satisfaction_score` smallint unsigned NOT NULL,
  `programme_id` int NOT NULL,
  PRIMARY KEY (`report_id`),
  KEY `impact_report_programme_id_d4ec9112_fk_programme` (`programme_id`),
  CONSTRAINT `impact_report_programme_id_d4ec9112_fk_programme` FOREIGN KEY (`programme_id`) REFERENCES `programmes_programme` (`programme_id`),
  CONSTRAINT `impact_report_chk_1` CHECK ((`satisfaction_score` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `impact_report`
--

LOCK TABLES `impact_report` WRITE;
/*!40000 ALTER TABLE `impact_report` DISABLE KEYS */;
INSERT INTO `impact_report` VALUES (1,'2026-07-07','Test',95,1);
/*!40000 ALTER TABLE `impact_report` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `programmes_event`
--

DROP TABLE IF EXISTS `programmes_event`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `programmes_event` (
  `event_id` int NOT NULL AUTO_INCREMENT,
  `event_description` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `start_date` datetime(6) NOT NULL,
  `end_date` datetime(6) NOT NULL,
  `capacity` int unsigned NOT NULL,
  `programme_id` int NOT NULL,
  `status_id` int NOT NULL,
  PRIMARY KEY (`event_id`),
  KEY `programmes_event_programme_id_52e7a7c5_fk_programme` (`programme_id`),
  KEY `programmes_event_status_id_7e119391_fk_programme` (`status_id`),
  CONSTRAINT `programmes_event_programme_id_52e7a7c5_fk_programme` FOREIGN KEY (`programme_id`) REFERENCES `programmes_programme` (`programme_id`),
  CONSTRAINT `programmes_event_status_id_7e119391_fk_programme` FOREIGN KEY (`status_id`) REFERENCES `programmes_status` (`status_id`),
  CONSTRAINT `programmes_event_chk_1` CHECK ((`capacity` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `programmes_event`
--

LOCK TABLES `programmes_event` WRITE;
/*!40000 ALTER TABLE `programmes_event` DISABLE KEYS */;
INSERT INTO `programmes_event` VALUES (1,'Health and Safety Advice','2026-07-07 14:51:00.000000','2026-07-10 14:51:00.000000',1,1,2);
/*!40000 ALTER TABLE `programmes_event` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `programmes_eventskill`
--

DROP TABLE IF EXISTS `programmes_eventskill`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `programmes_eventskill` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `event_id` int NOT NULL,
  `skill_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `programmes_eventskill_event_id_skill_id_1541c074_uniq` (`event_id`,`skill_id`),
  KEY `programmes_eventskil_skill_id_0384d9d6_fk_volunteer` (`skill_id`),
  CONSTRAINT `programmes_eventskil_event_id_460b207f_fk_programme` FOREIGN KEY (`event_id`) REFERENCES `programmes_event` (`event_id`),
  CONSTRAINT `programmes_eventskil_skill_id_0384d9d6_fk_volunteer` FOREIGN KEY (`skill_id`) REFERENCES `volunteers_skill` (`skill_id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `programmes_eventskill`
--

LOCK TABLES `programmes_eventskill` WRITE;
/*!40000 ALTER TABLE `programmes_eventskill` DISABLE KEYS */;
INSERT INTO `programmes_eventskill` VALUES (1,1,1);
/*!40000 ALTER TABLE `programmes_eventskill` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `programmes_programme`
--

DROP TABLE IF EXISTS `programmes_programme`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `programmes_programme` (
  `programme_id` int NOT NULL AUTO_INCREMENT,
  `programme_name` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  `programme_description` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `location` varchar(200) COLLATE utf8mb4_unicode_ci NOT NULL,
  `start_date` date NOT NULL,
  `end_date` date NOT NULL,
  `programme_cost` decimal(10,2) NOT NULL,
  `status_id` int NOT NULL,
  PRIMARY KEY (`programme_id`),
  KEY `programmes_programme_status_id_af8b4bd3_fk_programme` (`status_id`),
  CONSTRAINT `programmes_programme_status_id_af8b4bd3_fk_programme` FOREIGN KEY (`status_id`) REFERENCES `programmes_status` (`status_id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `programmes_programme`
--

LOCK TABLES `programmes_programme` WRITE;
/*!40000 ALTER TABLE `programmes_programme` DISABLE KEYS */;
INSERT INTO `programmes_programme` VALUES (1,'Painting Graffiti','','Test Park','2026-07-07','2026-07-10',300.00,2);
/*!40000 ALTER TABLE `programmes_programme` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `programmes_status`
--

DROP TABLE IF EXISTS `programmes_status`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `programmes_status` (
  `status_id` int NOT NULL AUTO_INCREMENT,
  `status` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`status_id`),
  UNIQUE KEY `status` (`status`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `programmes_status`
--

LOCK TABLES `programmes_status` WRITE;
/*!40000 ALTER TABLE `programmes_status` DISABLE KEYS */;
INSERT INTO `programmes_status` VALUES (4,'CANCELLED'),(3,'COMPLETED'),(2,'IN PROGRESS'),(1,'PENDING');
/*!40000 ALTER TABLE `programmes_status` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `programmes_volunteerassignment`
--

DROP TABLE IF EXISTS `programmes_volunteerassignment`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `programmes_volunteerassignment` (
  `assignment_id` int NOT NULL AUTO_INCREMENT,
  `volunteer_role` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `attendance` tinyint(1) NOT NULL,
  `assignment_date` date NOT NULL,
  `notify_flag` tinyint(1) NOT NULL,
  `event_id` int NOT NULL,
  `user_id` int NOT NULL,
  PRIMARY KEY (`assignment_id`),
  UNIQUE KEY `programmes_volunteerassignment_user_id_event_id_7419b4d4_uniq` (`user_id`,`event_id`),
  KEY `programmes_volunteer_event_id_d089dd85_fk_programme` (`event_id`),
  CONSTRAINT `programmes_volunteer_event_id_d089dd85_fk_programme` FOREIGN KEY (`event_id`) REFERENCES `programmes_event` (`event_id`),
  CONSTRAINT `programmes_volunteer_user_id_b397579a_fk_accounts_` FOREIGN KEY (`user_id`) REFERENCES `accounts_user` (`user_id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `programmes_volunteerassignment`
--

LOCK TABLES `programmes_volunteerassignment` WRITE;
/*!40000 ALTER TABLE `programmes_volunteerassignment` DISABLE KEYS */;
INSERT INTO `programmes_volunteerassignment` VALUES (1,'',1,'2026-07-06',0,1,2);
/*!40000 ALTER TABLE `programmes_volunteerassignment` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `volunteers_availability`
--

DROP TABLE IF EXISTS `volunteers_availability`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `volunteers_availability` (
  `availability_id` int NOT NULL AUTO_INCREMENT,
  `day_of_week` varchar(3) COLLATE utf8mb4_unicode_ci NOT NULL,
  `start_time` time(6) NOT NULL,
  `end_time` time(6) NOT NULL,
  `user_id` int NOT NULL,
  PRIMARY KEY (`availability_id`),
  KEY `volunteers_availabil_user_id_2d9719ac_fk_accounts_` (`user_id`),
  CONSTRAINT `volunteers_availabil_user_id_2d9719ac_fk_accounts_` FOREIGN KEY (`user_id`) REFERENCES `accounts_user` (`user_id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `volunteers_availability`
--

LOCK TABLES `volunteers_availability` WRITE;
/*!40000 ALTER TABLE `volunteers_availability` DISABLE KEYS */;
INSERT INTO `volunteers_availability` VALUES (1,'MON','10:15:00.000000','17:30:00.000000',2);
/*!40000 ALTER TABLE `volunteers_availability` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `volunteers_dbsstatus`
--

DROP TABLE IF EXISTS `volunteers_dbsstatus`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `volunteers_dbsstatus` (
  `dbs_status_id` int NOT NULL AUTO_INCREMENT,
  `dbs_status` varchar(15) COLLATE utf8mb4_unicode_ci NOT NULL,
  `dbs_expiry` date DEFAULT NULL,
  `person_id` int NOT NULL,
  PRIMARY KEY (`dbs_status_id`),
  KEY `volunteers_dbsstatus_person_id_b71d0d5e_fk_volunteer` (`person_id`),
  CONSTRAINT `volunteers_dbsstatus_person_id_b71d0d5e_fk_volunteer` FOREIGN KEY (`person_id`) REFERENCES `volunteers_person` (`person_id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `volunteers_dbsstatus`
--

LOCK TABLES `volunteers_dbsstatus` WRITE;
/*!40000 ALTER TABLE `volunteers_dbsstatus` DISABLE KEYS */;
INSERT INTO `volunteers_dbsstatus` VALUES (1,'CLEARED','2028-07-06',2);
/*!40000 ALTER TABLE `volunteers_dbsstatus` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `volunteers_person`
--

DROP TABLE IF EXISTS `volunteers_person`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `volunteers_person` (
  `person_id` int NOT NULL AUTO_INCREMENT,
  `forename` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `surname` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `registration_date` date NOT NULL,
  `emergency_contact` varchar(200) COLLATE utf8mb4_unicode_ci NOT NULL,
  `address` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `phone_number` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `notification_preference` varchar(10) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`person_id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `volunteers_person`
--

LOCK TABLES `volunteers_person` WRITE;
/*!40000 ALTER TABLE `volunteers_person` DISABLE KEYS */;
INSERT INTO `volunteers_person` VALUES (1,'System','Administrator','2026-07-06','N/A','UrbanConnect Head Office','0000000000','EMAIL'),(2,'Test','Tester','2026-07-06','admin@urbanconnect.org','1 Test Street','07123 123456','EMAIL');
/*!40000 ALTER TABLE `volunteers_person` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `volunteers_skill`
--

DROP TABLE IF EXISTS `volunteers_skill`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `volunteers_skill` (
  `skill_id` int NOT NULL AUTO_INCREMENT,
  `skill_name` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `skill_description` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`skill_id`),
  UNIQUE KEY `skill_name` (`skill_name`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `volunteers_skill`
--

LOCK TABLES `volunteers_skill` WRITE;
/*!40000 ALTER TABLE `volunteers_skill` DISABLE KEYS */;
INSERT INTO `volunteers_skill` VALUES (1,'Health and Safety','Adequate knowledge of Health and Safety procedure');
/*!40000 ALTER TABLE `volunteers_skill` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `volunteers_volunteerskill`
--

DROP TABLE IF EXISTS `volunteers_volunteerskill`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `volunteers_volunteerskill` (
  `volunteer_skill_id` int NOT NULL AUTO_INCREMENT,
  `skill_level` varchar(15) COLLATE utf8mb4_unicode_ci NOT NULL,
  `skill_id` int NOT NULL,
  `user_id` int NOT NULL,
  PRIMARY KEY (`volunteer_skill_id`),
  UNIQUE KEY `volunteers_volunteerskill_user_id_skill_id_eb080646_uniq` (`user_id`,`skill_id`),
  KEY `volunteers_volunteer_skill_id_64166841_fk_volunteer` (`skill_id`),
  CONSTRAINT `volunteers_volunteer_skill_id_64166841_fk_volunteer` FOREIGN KEY (`skill_id`) REFERENCES `volunteers_skill` (`skill_id`),
  CONSTRAINT `volunteers_volunteer_user_id_44f5cafd_fk_accounts_` FOREIGN KEY (`user_id`) REFERENCES `accounts_user` (`user_id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `volunteers_volunteerskill`
--

LOCK TABLES `volunteers_volunteerskill` WRITE;
/*!40000 ALTER TABLE `volunteers_volunteerskill` DISABLE KEYS */;
INSERT INTO `volunteers_volunteerskill` VALUES (1,'INTERMEDIATE',1,2);
/*!40000 ALTER TABLE `volunteers_volunteerskill` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-07-06 14:55:01
