{% extends 'base.html' %}
{% block title %}Volunteers{% endblock %}
{% block content %}

<div class='flex justify-between items-center mb-4'>
    <c-lb.text size="3xl" class="font-semibold">Volunteers</c-lb.text>
    <c-lb.button as="a" href="{% url 'volunteers:volunteer_register' %}" variant="primary" size="sm">Register Volunteer</c-lb.button>
</div>


<table class="table table-striped">
    <thead>
        <tr><th>Name</th><th>Email</th><th>Phone</th><th>Status</th><th></th></tr>
    </thead>
    <tbody>
    {% for v in volunteers %}
        <tr>
            <td>{{ v.person }}</td>
            <td>{{ v.email }}</td>
            <td>{{ v.person.phone_number }}</td>
            <td>{{ v.get_user_status_display }}</td>
            <td><a href="{% url 'volunteers:volunteer_detail' v.user_id %}">View</a></td>
        </tr>
    {% empty %}
        <tr><td colspan="5">No volunteers registered yet.</td></tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
