{% load lb_tags %}
{% load static %}

<!DOCTYPE html>
<html lang="en" {% labb_theme %}>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}VIMS{% endblock %} - UrbanConnect VIMS</title>
        {% comment %} <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"> {% endcomment %}
        <c-lb.m.dependencies />
    </head>

    <body class="flex flex-col w-screen h-screen">
        {% if user.is_authenticated %}
            {% include 'partials/header.html' %}
            <div class="flex h-[calc(100vh-5rem)] w-full items-stretch">
                <aside class="shrink-0 h-full flex flex-col">
                    {% include 'partials/nav.html' %}
                </aside>
                <main class="flex-1 min-w-0 px-8 h-full">
        {% endif %}
        <div class="w-full">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
            {% block content %}{% endblock %}
        </div>
        {% if user.is_authenticated %}
                </main>
            </div>
        {% endif %}
    </body>
</html>
